@import 'utils';

.board{
    background: white;
    z-index: 10;
    @include responsive();
    height: 70%;
    margin-top : 4rem;
    margin-bottom: 2rem;
    display: table;
    @include material-shadow(2);

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 100;}
    }

    animation: fadeIn;
    animation-duration: 3s;

    .content{
        
    }
}