@import 'utils';

.menu-item{
    display: flex;
    color: material-color('grey', '200');
    cursor: pointer;
    align-items: center;
    font-weight: 400;
    transition: all .1s;
    padding: 0.5rem;
    margin-left: 0.5rem;

    &:hover{
        transform: scale(1.1, 1.1);
        font-weight: 700;
        color: material-color('grey', '50');
    }
}