@import 'utils';

.page{
    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .content{
        &.padding{
            padding-top: 3.5rem;
        }

        &.responsive{
            width: 1024px;
            margin: 0 auto;
            @include responsive();
        }
    }
}