@import 'utils';

.button {
    display: inline-block;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    color: material-color('grey', '200');
    &:hover{
        color : white;
    }

    &.invert{
        border : 2px solid material-color('grey', '200');
        color : material-color('grey', '200');
        transition: all 200ms;
        border-radius: 10%;

        &:hover{
            background: material-color('grey', '200');
            color: black;
        }
    }

    &.flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    &.flex + &.flex {
        margin-left: 1rem;
    }

    &.flat {
        border-radius: 2px;
        transition: all .15s ease-in;
        &:hover {
            @include material-shadow(2);
        }
        &.white {
            background: white;
            border: 1px solid material-color('grey', '100');

            &:hover {
                background : material-color('grey', '100');
            }
        }
    }

    &.outline {
        background : transparent;
        border: 1px solid material-color('grey', '300');
        &:hover {
        border: 1px solid transparent;
        background: material-color('grey', '100');
        }
        &:active {
        background: material-color('grey', '200');
        }
    }
}